h1 {
    color: rgba(255,255,255,0.6);
    text-align: center;
}

p{
    color:00FF00 !important;
}

img {
    width: 300px;
    height: 300px;
    opacity: 100%;
}

* {
    background-color: rgb(0,0,0);
}